<div class="container-divider"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12 m-auto">

                <h1>Whoops! Looks like you’re not signed in</h1>
                <p class="subtitle">
                    Please sign in to submit a request or reach out to us via email.
                </p>
                <button class="primary-button">Sign In</button>
                <button class="secondary-button">Email</button>
            </div>

            <div class="col-lg-7 col-12">
                <img class="img-fluid"
                    src="https://voyager.postman.com/illustration/communication-postmanaut-laptop-postman-illustration.svg"
                    alt="Postman astronaut typing on laptop. Illustration." />
            </div>
        </div>
    </div>
</section>