<div>
    <hr>
    <footer>
        <section id="footer">
            <div class="container small">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 col-md-12 offset-md-0">
                        <div class="row">
                            <div class="col-8 offset-2 col-md-3 offset-md-0 col-lg-2 order-last order-md-first pad-md-right mt-auto mb-4">
                                <img class="footer-img img-fluid col-12 col-sm-9 col-md-12 mb-5 d-block"
                                    src="https://voyager.postman.com/illustration/postman-footer-rocket-launch.svg"
                                    alt="api-platform"><span class="col-12 d-none d-md-block">© 2023 Postman,
                                    Inc.</span>
                            </div>
                            <div
                                class="col-6 col-md-2 offset-md-1 col-lg-2 offset-lg-2 order-1 order-md-2 mb-5 mb-md-0">
                                <nav aria-labelledby="product">
                                    <h2 id="product" class="footer-col-title">Product</h2>
                                    <ul class="footer-ul">
                                        <li class="footer-li-item"><a
                                                href="https://www.postman.com/product/what-is-postman/"
                                                aria-label="Read more about what Postman is" class="footer-link">
                                                <div>What is Postman?</div>
                                            </a></li>
                                        <li class="footer-li-item"><a
                                                href="https://www.postman.com/product/api-repository/"
                                                aria-label="Read more about A P I repository" class="footer-link">
                                                <div>API repository</div>
                                            </a></li>
                                        <li class="footer-li-item"><a href="https://www.postman.com/product/tools/"
                                                aria-label="Read more about Postman tools" class="footer-link">
                                                <div>Tools</div>
                                            </a></li>
                                        <li class="footer-li-item"><a
                                                href="https://www.postman.com/product/governance/"
                                                aria-label="Read more about Postman governance" class="footer-link">
                                                <div>Governance</div>
                                            </a></li>
                                        <li class="footer-li-item"><a href="https://www.postman.com/product/workspaces/"
                                                aria-label="Read more about Postman workspaces" class="footer-link">
                                                <div>Workspaces</div>
                                            </a></li>
                                        <li class="footer-li-item"><a
                                                href="https://www.postman.com/product/integrations/"
                                                aria-label="Read more about Postman integrations" class="footer-link">
                                                <div>Integrations</div>
                                            </a></li>
                                        <li class="footer-li-item"><a href="https://www.postman.com/postman-enterprise/"
                                                aria-label="Read more about Postman enterprise" class="footer-link">
                                                <div>Enterprise</div>
                                            </a></li>
                                        <li class="footer-li-item"><a href="https://www.postman.com/pricing/"
                                                aria-label="Read more about Postman plans and pricing"
                                                class="footer-link">
                                                <div>Plans and pricing</div>
                                            </a></li>
                                        <li class="footer-li-item"><a href="https://www.postman.com/downloads/"
                                                aria-label="Visit the download page for the Postman app"
                                                class="footer-link">
                                                <div>Download the app</div>
                                            </a></li>
                                        <li class="footer-li-item"><a href="https://www.postman.com/support/"
                                                aria-label="Visit the Postman support center" class="footer-link">
                                                <div>Support Center</div>
                                            </a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-6 col-md-2 order-2 order-md-3">
                              
                                    <nav aria-labelledby="company" class="mb-2">
                                        <h2 id="company" class="footer-col-title">Company</h2>
                                        <ul class="footer-ul">
                                            <li class="footer-li-item"><a
                                                    href="https://www.postman.com/company/about-postman/"
                                                    aria-label="Read more about Postman, the company"
                                                    class="footer-link">
                                                    <div>About</div>
                                                </a></li>
                                            <li class="footer-li-item"><a
                                                    href="https://www.postman.com/company/careers/"
                                                    aria-label="Read more about careers and culture at Postman"
                                                    class="footer-link">
                                                    <div>Careers and culture</div>
                                                </a></li>
                                                     <li class="footer-li-item"><a
                                                    href="https://www.postman.com/company/press-media/"
                                                    aria-label="Read more about press and media for Postman"
                                                    class="footer-link">
                                                    <div>Press and media</div>
                                                </a></li>
                                            <li class="footer-li-item"><a
                                                    href="https://www.postman.com/company/contact-us/"
                                                    aria-label="Contact us at Postman" class="footer-link">
                                                    <div>Contact us</div>
                                                </a></li>
                                                     <li class="footer-li-item"><a
                                                    href="https://www.postman.com/company/partner-program/"
                                                    aria-label="Read more about the Partner Program for Postman"
                                                    class="footer-link">
                                                    <div>Partner program</div>
                                                </a></li>
                                       
                                        </ul>
                                    </nav>
                            
                            
                                    <nav aria-labelledby="security-and-terms" class="mb-5">
                                        <h2 id="security-and-terms" class="footer-col-title">
                                            Legal and Security</h2>
                                            
                                        <ul class="footer-ul">
                                            <li class="footer-li-item"><a href="https://www.postman.com/legal/terms/"
                                                aria-label="Read more about Postman's terms'" class="footer-link">
                                                <div>Terms of Service</div>
                                            </a></li>
                                            <li class="footer-li-item"><a href="https://www.postman.com/trust/"
                                                    aria-label="Read more about Postman Security" class="footer-link">
                                                    <div>Trust and Safety</div>
                                                </a></li>
                                            <li class="footer-li-item"><a
                                                    href="https://www.postman.com/legal/privacy-policy/"
                                                    aria-label="Read more about Postman's privacy policy"
                                                    class="footer-link">
                                                    <div>Privacy policy</div>
                                                </a></li>
                                                      <li class="footer-li-item"><a
                                                    href="https://www.postman.com/legal/cookies/"
                                                    aria-label="Read more about Postman's cookie notice"
                                                    class="footer-link">
                                                    <div>Cookie Notice</div>
                                                </a></li>
                                         
                                        </ul>
                                    </nav>
                               
                            </div>
                            <div class="col-6 col-md-2 col-lg-2 order-3 order-md-4">
                                	<nav aria-labelledby="api-categories" class="mb-5">
										<h2 class="footer-col-title" id="api-categories">
										API Categories
										</h2>
										<ul class="footer-url">
                                            <li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category/app-security" id="app-security" onClick="ga('send', 'event', 'global-footer', 'Click', 'app-security');">App Security</a></li>
											<li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category/payments" id="payments" onClick="ga('send', 'event', 'global-footer', 'Click', 'payments');">Payments</a></li>
											<li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category-financial-services" id="financial-services" onClick="ga('send', 'event', 'global-footer', 'Click', 'financial-services');">Financial Services</a></li>
											<li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category/devops" id="devops" onClick="ga('send', 'event', 'global-footer', 'Click', 'devops');">DevOps</a></li>
											<li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category/developer-productivity" id="developer-productivity" onClick="ga('send', 'event', 'global-footer', 'Click', 'developer-productivity');">Developer Productivity</a></li>
											<li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category/data-analytics" id="data-analytics" onClick="ga('send', 'event', 'global-footer', 'Click', 'data-analytics');">Data Analytics</a></li>
											<li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category/communication" id="communication" onClick="ga('send', 'event', 'global-footer', 'Click', 'communication');">Communication</a></li>
											<li class="footer-li-item"><a class="footer-link" href="https://www.postman.com/category/artifical-intelligence" id="artifical-intelligence" onClick="ga('send', 'event', 'global-footer', 'Click', 'artifical-intelligence');">Artifical Intelligence</a></li>
										</ul>	
									</nav>
                            </div>
                            <div class="col-6 col-md-2 col-lg-2 order-4 order-md-5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <nav aria-labelledby="social" class="mb-5">
                                            <h2 id="social" class="footer-col-title">Social</h2>
                                            <ul class="footer-ul">
                                                <li class="footer-li-item"><a href="https://twitter.com/getpostman"
                                                        rel="noopener noreferrer" target="_blank"
                                                        aria-label="Follow Postman on Twitter" class="footer-link">
                                                        <div direction="row" wrap="nowrap">
                                                            <div
                                                                class="footer-social-svg d-inline-block align-self-center">
                                                                <svg width="16" height="14" viewBox="0 0 16 14"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M14.1439 3.76852C14.1534 3.9068 14.1534 4.04509 14.1534 4.18465C14.1534 8.43705 10.9162 13.3414 4.99671 13.3414V13.3388C3.24808 13.3414 1.53578 12.8405 0.0637207 11.8961C0.317985 11.9267 0.573525 11.9419 0.829701 11.9426C2.27882 11.9439 3.68651 11.4576 4.82656 10.5623C3.44946 10.5362 2.24186 9.63827 1.82 8.32744C2.3024 8.42048 2.79946 8.40136 3.27294 8.272C1.77156 7.96867 0.691417 6.64955 0.691417 5.11759C0.691417 5.10357 0.691417 5.09018 0.691417 5.0768C1.13877 5.32597 1.63965 5.46425 2.15201 5.47955C0.737936 4.5345 0.302054 2.65332 1.15598 1.18254C2.7899 3.19308 5.20063 4.41533 7.78853 4.54469C7.52916 3.42695 7.88348 2.25568 8.71955 1.46994C10.0157 0.251509 12.0543 0.31396 13.2727 1.6095C13.9935 1.46739 14.6843 1.20293 15.3164 0.828224C15.0762 1.57318 14.5734 2.20597 13.9017 2.60808C14.5396 2.53288 15.1628 2.3621 15.7498 2.10146C15.3177 2.74891 14.7735 3.31288 14.1439 3.76852Z"
                                                                        fill="#1D9BF0"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="d-inline-block align-self-center">Twitter</div>
                                                        </div>
                                                    </a></li>
                                                <li class="footer-li-item"><a
                                                        href="https://www.linkedin.com/company/postman-platform"
                                                        rel="noopener noreferrer" target="_blank"
                                                        aria-label="Follow Postman on Linked In" class="footer-link">
                                                        <div direction="row" wrap="nowrap">
                                                            <div
                                                                class="footer-social-svg  d-inline-block align-self-center">
                                                                <svg width="25" height="25" viewBox="0 0 25 25"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M5.134 7.363H.537v14.044h4.597zM5.437 3.019C5.407 1.642 4.44.593 2.866.593 1.293.593.265 1.642.265 3.019c0 1.348.998 2.427 2.541 2.427h.03c1.603 0 2.601-1.079 2.601-2.427zM21.714 13.354c0-4.313-2.268-6.32-5.293-6.32-2.44 0-3.534 1.362-4.144 2.319v-1.99H7.68c.06 1.318 0 14.044 0 14.044h4.598v-7.843c0-.42.03-.839.151-1.139.333-.839 1.09-1.707 2.36-1.707 1.664 0 2.329 1.288 2.329 3.175v7.514h4.597v-8.053z"
                                                                        fill="#0e76a8" fillrule="evenodd"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="d-inline-block align-self-center">LinkedIn</div>
                                                        </div>
                                                    </a></li>
                                                <li class="footer-li-item"><a href="https://github.com/postmanlabs"
                                                        rel="noopener noreferrer" target="_blank"
                                                        aria-label="Contribute to Postman on Git Hub"
                                                        class="footer-link">
                                                        <div direction="row" wrap="nowrap">
                                                            <div
                                                                class="footer-social-svg  d-inline-block align-self-center">
                                                                <svg height="16" class="octicon octicon-mark-github"
                                                                    viewBox="0 0 16 16" version="1.1" width="16"
                                                                    aria-hidden="true">
                                                                    <path fill="#24292f" fillrule="evenodd"
                                                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                                                    </path>
                                                                </svg>
                                                            </div>
                                                            <div class="d-inline-block align-self-center">GitHub</div>
                                                        </div>
                                                    </a></li>
                                                <li class="footer-li-item"><a href="https://www.youtube.com/c/Postman"
                                                        rel="noopener noreferrer" target="_blank"
                                                        aria-label="Watch our Postman You Tube channel"
                                                        class="footer-link">
                                                        <div direction="row" wrap="nowrap">
                                                            <div
                                                                class="footer-social-svg  d-inline-block align-self-center">
                                                                <svg height="16" width="16"
                                                                    enable-background="new 0 0 30 21.14"
                                                                    viewBox="0 0 30 21.14"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="m29.37 3.3c-.35-1.3-1.36-2.32-2.65-2.67-2.34-.63-11.72-.63-11.72-.63s-9.38 0-11.72.63c-1.29.35-2.31 1.37-2.65 2.67-.63 2.36-.63 7.27-.63 7.27s0 4.91.63 7.27c.35 1.3 1.36 2.32 2.65 2.67 2.34.63 11.72.63 11.72.63s9.38 0 11.72-.63c1.29-.35 2.31-1.37 2.65-2.67.63-2.36.63-7.27.63-7.27s0-4.91-.63-7.27zm-17.44 11.73v-8.92l7.84 4.46z"
                                                                        fill="#c4302b"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="d-inline-block align-self-center">YouTube</div>
                                                        </div>
                                                    </a></li>
                                                <li class="footer-li-item"><a href="https://www.twitch.tv/getpostman"
                                                        rel="noopener noreferrer" target="_blank"
                                                        aria-label="Follow Postman on Twitch" class="footer-link">
                                                        <div direction="row" wrap="nowrap">
                                                            <div
                                                                class="footer-social-svg d-inline-block align-self-center">
                                                                <svg version="1.1" id="Layer_1"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                    y="0px" viewBox="0 0 2400 2800"
                                                                    style="enable-background:new 0 0 2400 2800;"
                                                                    xml:space="preserve">
                                                                    <style type="text/css">
                                                                        .st0 {
                                                                            fill: #FFFFFF;
                                                                        }

                                                                        .st1 {
                                                                            fill: #9146FF;
                                                                        }
                                                                    </style>
                                                                    <title>Asset 2</title>
                                                                    <g>
                                                                        <polygon class="st0"
                                                                            points="2200,1300 1800,1700 1400,1700 1050,2050 1050,1700 600,1700 600,200 2200,200">
                                                                        </polygon>
                                                                        <g>
                                                                            <g id="Layer_1-2">
                                                                                <path class="st1"
                                                                                    d="M500,0L0,500v1800h600v500l500-500h400l900-900V0H500z M2200,1300l-400,400h-400l-350,350v-350H600V200h1600 V1300z">
                                                                                </path>
                                                                                <rect x="1700" y="550" class="st1"
                                                                                    width="200" height="600"></rect>
                                                                                <rect x="1150" y="550" class="st1"
                                                                                    width="200" height="600"></rect>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                            <div class="d-inline-block align-self-center">Twitch</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-block d-md-none text-center order-last"><span class="col-12">© 2023
                                    Postman, Inc.</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>