<div class="alertbox"></div>
<nav class="pm-navbar navbar navbar-expand-lg primary-nav ">
  <a class="navbar-brand" href="https://www.postman.com/">
    <div class="navbar-logo-container">
      <img src="https://voyager.postman.com/logo/postman-logo-icon-orange.svg" alt="Postman" width="32" height="32" />

    </div>
  </a>
  <button id="postman-primary-nav" class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mobile-icon_span">
      <div id="icon-wrap-one" class="icon-bar mobile-icon" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    <li class="nav-item dropdown">
    <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownProductMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Product
          <svg
            class="arrow-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="#6b6b6b"
          >
            <g>
              <path d="M10.375,3.219,6,6.719l-4.375-3.5A1,1,0,1,0,.375,4.781l5,4a1,1,0,0,0,1.25,0l5-4a1,1,0,0,0-1.25-1.562Z" />
            </g>
          </svg>
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdownProductMenuLink"
        >
          <div class="row dropdown-col-menu">
            <div class="col-12 col-sm-6 col-md-4 dropdown-col">
              <h6 class="dropdown-header">Getting Started</h6>
              <a 
                class="dropdown-item" 
                href="https://www.postman.com/product/what-is-postman/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'what-is-postman');"
              >
                What is Postman?
              </a>
              <a 
                class="dropdown-item" 
                href="https://www.postman.com/customers/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'customers');"
              >
                Customer Stories
              </a>
              <a 
                class="dropdown-item app-cta" 
                href="https://www.postman.com/downloads/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'download-postman');"
              >
                Download Postman →
              </a>
            </div>
            <div class="col-12 col-md-4 dropdown-col">
              <h6 class="dropdown-header">
                API Platform
              </h6>
              <a 
                class="dropdown-item" 
                href="https://www.postman.com/product/workspaces/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'collaborate-in-workspaces');"
              >
                Collaborate in Workspaces
              </a>
              <a 
                class="dropdown-item" 
                href="https://www.postman.com/collection/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'collection');"
              >
                Organize with Collections
              </a>
              <a 
                class="dropdown-item" 
                href="https://www.postman.com/product/api-client" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'product-api-client');"
              >
                Explore the API Client
              </a>
              <a 
                class="dropdown-item" 
                href="https://www.postman.com/product/flows" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'build-postman-flows');"
              >
                Build Postman Flows
              </a>
              <a
                class="dropdown-item"
                href="https://www.postman.com/product/postbot" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'work-smarter-with-postbot');"
              >
                Work smarter with Postbot
              </a>
              <a
                class="dropdown-item"
                href="https://www.postman.com/product/tools/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'browse-api-tools');"
              >
                Browse API Tools
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 dropdown-col">
              <h6 class="dropdown-header">Enterprise Solutions</h6>
              <a 
                class="dropdown-item" 
                href="https://www.postman.com/solutions/enterprise-essentials/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'enterprise-essentials');"
              >
                Enterprise Essentials 
              </a>
              <a
                class="dropdown-item"
                href="https://www.postman.com/solutions/api-test-automation/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'api-test-automation');"
              >
                API Test Automation
              </a>
              <a
                class="dropdown-item"
                href="https://www.postman.com/solutions/internal-api-management/" 
                onClick="ga('send', 'event', 'global-navbar', 'Click', 'internal-api-management');"
              >
                Internal API Management
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.postman.com/pricing/">
          Pricing
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.postman.com/postman-enterprise/">
          Enterprise
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
          aria-expanded="false">
          Resources and Support
          <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
            fill="#6b6b6b">
            <g>
              <path
                d="M10.375,3.219,6,6.719l-4.375-3.5A1,1,0,1,0,.375,4.781l5,4a1,1,0,0,0,1.25,0l5-4a1,1,0,0,0-1.25-1.562Z" />
            </g>
          </svg>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="row dropdown-col-menu">
            <div class="col-sm-6 col-md-4 dropdown-col">
              <h6 class="dropdown-header">Learning</h6>
              <a class="dropdown-item" href="https://learning.postman.com/docs/getting-started/introduction/">
                Learning Center Docs
              </a>
              <a class="dropdown-item" target='_blank' rel='noreferrer' href="https://academy.postman.com/">
                Postman Academy
              </a>
              <a class="dropdown-item" href="https://www.postman.com/whitepaper/">
                White Papers
              </a>
              <a class="dropdown-item" href="https://www.postman.com/events/breaking-changes/">
                Breaking Changes Show
              </a>
               <a class="dropdown-item" href="https://www.postman.com/templates/">
                Templates
              </a>
               <a class="dropdown-item" href="https://quickstarts.postman.com/" target="_blank">
                Tutorials
              </a>
              <a class="dropdown-item" href="https://www.postman.com/events/intergalactic/">
              Webinars
              </a>
              <a class="dropdown-item" href="https://www.postman.com/state-of-api/">
                State of the API Report
              </a>
              <a class="dropdown-item" href="https://www.postman.com/api-first">
                Guide to API-First
              </a>
            </div>
            <div class="col-sm-6 col-md-4 dropdown-col">
              <h6 class="dropdown-header">Community and Events</h6>
              <a class="dropdown-item" href="https://blog.postman.com/">
                Blog
              </a>
              <a class="dropdown-item" href="https://www.postman.com/community/">
                Community
              </a>
                  <a class="dropdown-item" href="https://www.postman.com/company/supernovas-program/">
                Postman Supernovas
              </a>
              <a class="dropdown-item" href="https://www.postman.com/company/student-program/">
                Student Program
              </a>
              <a class="dropdown-item" href="https://www.postman.com/events/">
                Events
              </a>
              <a class="dropdown-item" href="https://store.postman.com/" target="_blank" rel="noreferrer">
                Postman Swag
              </a>
            </div>
            <div class="col-sm-6 col-md-4 dropdown-col">
              <h6 class="dropdown-header">Support</h6>
              <a class="dropdown-item" href="https://www.postman.com/support/">
                Support Center
              </a>
              <a class="dropdown-item" href="https://www.postman.com.support/resellers-support/">
                Reseller Support
              </a>
              <a class="dropdown-item" href="https://status.postman.com/" target="_blank" rel="noreferrer">
                Postman Status
              </a>
              <a class="dropdown-item" href="https://www.postman.com/downloads/release-notes/">
                Release Notes
              </a>
              <a class="dropdown-item" href="https://www.postman.com/company/contact-us/">
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.postman.com/explore">
          Public API Network
        </a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 ms-auto">
      <a class="button secondary-button" href="/" title="Contact Sales"
        onClick="ga('send', 'event', 'global-navbar', 'Click', 'contact-sales');">
        Contact Sales
      </a>
      <a class="button secondary-button d-none nav-sign-in-button" href="/" title="Sign in"
        onClick="ga('send', 'event', 'global-navbar', 'Click', 'sign-in');">
        Sign In
      </a>
    <a class="primary-button d-none nav-sign-up-button" title="Register"
        onClick="ga('send', 'event', 'global-navbar', 'Click', 'sign-up');" style="white-space: nowrap;">
        Sign Up for Free
      </a>
      <a class="primary-button d-none nav-launch-postman-button" title="Launch Postman"
        onClick="ga('send', 'event', 'global-navbar', 'Click', 'launch-postman');">Launch Postman
      </a>
    </div>
  </div>
  </div>
</nav>
<!-- Support Center Secondary Navbar -->
<nav class="pm-navbar navbar sticky navbar-expand-lg navbar-light nav-secondary">
  <a class="navbar-brand" href="/" onClick="ga('send', 'event', 'global-navbar', 'Click', 'support-center-home');">
    <span class="contextual-home-link nav-link uber-nav">
      Support Center
      <span class="sr-only">(current)</span>
    </span>
  </a>
  <!-- nav button local navbar start -->
  <button id="secondaryNav" class="mobile-icon-button_caret mobile-icon-button navbar-toggler" type="button"
    data-test="mobileNavTogglerBottom" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentBottom"
    aria-controls="navbarSupportedContentBottom" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <div id="icon-wrap-two" aria-expanded="false">
        <svg id="navbar-chevron-icons" width="20" height="11" viewBox="0 0 20 11" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L10 10L19 1" stroke="#6B6B6B" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round" />
        </svg>
      </div>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContentBottom">
    <ul class="navbar-nav ms-auto">
      {{#unless signed_in}}
        <li class="nav-item">
          <a class="nav-link uber-nav"
            href="/hc/en-us/signin?return_to=https%3A%2F%2Fsupport.postman.com%2Fhc%2Fen-us&amp;locale=en-us"
            onClick="ga('send', 'event', 'global-navbar', 'Click', 'sign-in');">
            Sign in
          </a>
        </li>
      {{/unless}}
      {{#if signed_in}}
        <li class="nav-item">
          <a id="pm-signed-in" class="nav-link uber-nav" href="/hc/en-us/profiles/preview"
            onClick="ga('send', 'event', 'global-navbar', 'Click', 'profile');">
            Profile
          </a>
        </li>
      {{/if}}
      <li class="nav-item nav-secondary-last-item">
        <a class="nav-link uber-nav mr-4" target="_blank" rel="noreferrer" href="https://community.postman.com/"
          onClick="ga('send', 'event', 'global-navbar', 'Click', 'community');">
          Community
        </a>
      </li>
    </ul>
    {{search submit=false instant=settings.instant_search class='search search-full ml-5'}}
  </div>
</nav>